<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--<add name="Dev" connectionString="AuthType=Office365;Username=sheshadri.mookherjee@dentsplysirona.com; Password={0};Url=https://fd-dev.crm.dynamics.com"/>-->
    <add name="Stage" connectionString="AuthType=Office365;Username=sheshadri.mookherjee@dentsplysirona.com; Password={0};Url=https://fd-stage.crm.dynamics.com"/>
    <add name="Dev" connectionString="AuthType=Office365;Username=FuturedonticsCRMAdmin@dentsplysirona.com; Password={0};Url=https://futuredontics.crm.dynamics.com"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Dev"/>
    <add key="CRMInstanceName-Dev" value="fd-dev"/>
    <add key="CRMInstanceName-Stage" value="fd-stage"/> 
    <add key="SmartCrmSyncServerName-Dev" value="smartcrmsync"/>
    <add key="SmartCrmSyncServerName-Stage" value="smartcrmsyncstage"/>
    <add key="Contactid-Dev" value="C7F7F3B4-5B2B-E811-811D-3863BB2E92B0"/>
    <add key="Accountid-Dev" value="D2BDA8E7-712E-E811-811F-3863BB34CB20"/>
    <add key="Opportunityid-Dev" value="8a3d0d12-e267-e811-812f-3863bb2b8bc8"/>
    <add key="Contactid-Stage" value="956CC077-FB3B-E811-8131-C4346BAC5238"/>
    <add key="Accountid-Stage" value="44AB99BB-A338-E811-812E-FC15B428766C"/>
    <add key="Opportunityid-Stage" value="79DF5BE0-1160-E811-812D-3863BB34CB20"/>
  </appSettings>
</configuration>